{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

  {{ partial "sidebar.html" . }}

  <div class="content container">
    <section class="posts">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 10 }}
      {{ range $paginator.Pages }}

      {{ if isset .Params "tags" }}
      <div class="post">
        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

        <p class="post-tags">
          <i class='fa fa-tags' aria-hidden='true'></i>
          {{ range $i, $e := .Params.tags }}{{ if $i }}, {{end}}<a href="/tags/{{ $e | urlize }}">{{ . }}</a>{{ end }}
        </p>

        <span class="post-date"><time>{{ .Date.Format "Jan 2, 2006" }}</time></span>

        <p class="discreet">{{ .Summary }} [...]</p>

        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Read More&rarr;</a>
        </div>

      </div>
      {{end}}
      {{ end }}

      {{ partial "pagination.html" . }}
    </section>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
