{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

  {{ partial "sidebar.html" . }}

  <div class="content container">
    <section class="posts">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
      {{ range $paginator.Pages }}

      <div class="post">
        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>
          {{ if isset .Params "categories" }}
          &middot;
          {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
          {{ end }}
        </p>
        <span class="post-date"><time>{{ .Date.Format "Jan 2, 2006" }}</time></span>

        <p class="discreet">{{ .Summary }} [...]</p>

        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Read More&rarr;</a>
        </div>

      </div>
      {{ end }}

      {{ template "_internal/pagination.html" . }}
    </section>
  </div>
</body>
</html>
