+++
draft = false
date = "2009-11-18T14:27:15-02:00"
title = "If Django templates are an improvement over XML templates, then, by all means, please give me XML"
tags = ["rants", "Django"]
created = "2009-11-18T14:10:09-02:00"
modified = "2009-11-18T14:28:52-02:00"
permaLink = "http://play.pixelblaster.ro/blog/archive/2009/11/18/if-django-templates-are-an-improvement-over-xml-templates-by-all-means-please-give-me-xml"
author = "Tiberiu Ichim"
aliases = [
    "/blog/archive/2009/11/18/if-django-templates-are-an-improvement-over-xml-templates-by-all-means-please-give-me-xml"
]
+++

<p>I fail to see how</p>
<pre>{% block %} 
...
{% endblock %}
</pre>
<p>is in any way better or "less scary" then, let's say</p>
<pre>&lt;dj:block&gt;
...
&lt;/dj:block&gt;
</pre>
<p>Yet another rant, this time triggered by the error I got when writing this piece of code:</p>
<pre>{% blocktrans with offer.offerer.username as offerer_username 
               and offer.offered_time|date as offerer_date %}
...
{% endblocktrans %}
</pre>
I just wanted to split the tag on multiple lines, but it seems that's not possible. If Django templates would have been XML, then it wouldn't have been any problem formatting that piece just how I want it. Right now, the joined line takes two times the amount of my screen width.
<p>One more thing to grudge about is that vim, even with djangohtml syntax type installed, is not very knowledgeble about how to format the template file (it treats the tags as regular piece of text). Probably this could be fixed, so I shouldn't complain about this too much.</p>
<p>I think Django templates are compiled to python code, so it's natural that they're treated in an imperative, dumb way, but that's not the only way of doing things. For example, <a class="external-link" href="http://launchpad.net/chameleon.core">Chameleon</a> is another templating library that compiles its templates as python code, has no problem working with an XML based templating language frontends.</p>
